.CardConversion {
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}
.ant-space-item{
   height: 100%;
   margin: 0 50px;
   
}
.ant-space-horizontal{
    height: 50%;
}