.CardConversion {
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}
.ant-space-item{
   margin: 0 50px;
}
.ant-space-horizontal{
    height: 50%;
}
.ChartPie {
   padding: 30px;
}
.CardConversion {
   border: 1px solid #E5E5E5;
      border-radius: 10px;
      width: 100%;
}
.ConversionTitle {
   text-align: start;
}