.transactionCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    height: 80px;
    border: 1px solid #E5E5E5;

}
span{
    text-align: center;
}
.NumberText {
    color: #6979f8;
    font-size: 30px;
    font-weight: 600;
}